<!DOCTYPE html>
<html lang="en">

{% include 'includes/head.html' %}

<body class="g-sidenav-show  bg-gray-200">
  {% include 'includes/sidenav.html' %}

  <main class="main-content position-relative max-height-vh-100 h-100 border-radius-lg ">
    <!-- Navbar -->
    {% include 'includes/nav.html' %}
    <!-- End Navbar -->
    <div class="container-fluid py-4">
      <div class="row">
        <div class="col-lg-6 col-md-6 mt-4 mb-4">
            <div class="card z-index-2s  ">
                <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2 bg-transparent">
                  <div class="bg-gradient-info shadow-success border-radius-lg py-3 pe-1">
                    <div class="chart">
                      <canvas id="chart-bars-2" class="chart-canvas" height="250"></canvas>
                    </div>
                  </div>
                </div>
                <div class="card-body">
                  <h6 class="mb-0 ">Top Source IPs</h6>
                  <!-- <p class="text-sm ">Shows the number of total alerts</p> -->
                  <!-- <hr class="dark horizontal"> -->
                  <!-- <div class="d-flex "> -->
                    <!-- <i class="material-icons text-sm my-auto me-1">schedule</i> -->
                    <!-- <p class="mb-0 text-sm">updated 4 min ago</p> -->
                  <!-- </div> -->
                </div>
            </div>
        </div>

        <div class="col-lg-6 col-md-6 mt-4 mb-4">
            <div class="card z-index-2s  ">
                <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2 bg-transparent">
                  <div class="bg-gradient-secondary shadow-success border-radius-lg py-3 pe-1">
                    <div class="chart">
                      <canvas id="chart-bars-3" class="chart-canvas" height="250"></canvas>
                    </div>
                  </div>
                </div>
                <div class="card-body">
                  <h6 class="mb-0 ">Top Destination IPs</h6>
                  <!-- <p class="text-sm ">Shows the number of total alerts</p> -->
                  <!-- <hr class="dark horizontal"> -->
                  <!-- <div class="d-flex "> -->
                    <!-- <i class="material-icons text-sm my-auto me-1">schedule</i> -->
                    <!-- <p class="mb-0 text-sm">updated 4 min ago</p> -->
                  <!-- </div> -->
                </div>
            </div>
        </div>

        <div class="col-lg-4 col-md-6 mt-4 mb-4">
            <div class="card z-index-2s  ">
                <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2 bg-transparent">
                  <div class="bg-gradient-info shadow-success border-radius-lg py-3 pe-1">
                    <div class="chart">
                      <canvas id="chart-bars-4" class="chart-canvas" height="250"></canvas>
                    </div>
                  </div>
                </div>
                <div class="card-body">
                  <h6 class="mb-0 ">Top Source Ports</h6>
                  <!-- <p class="text-sm ">Shows the number of total alerts</p> -->
                  <!-- <hr class="dark horizontal"> -->
                  <!-- <div class="d-flex "> -->
                    <!-- <i class="material-icons text-sm my-auto me-1">schedule</i> -->
                    <!-- <p class="mb-0 text-sm">updated 4 min ago</p> -->
                  <!-- </div> -->
                </div>
            </div>
        </div>

        <div class="col-lg-4 col-md-6 mt-4 mb-4">
            <div class="card z-index-2s  ">
                <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2 bg-transparent">
                  <div class="bg-gradient-secondary shadow-success border-radius-lg py-3 pe-1">
                    <div class="chart">
                      <canvas id="chart-bars-5" class="chart-canvas" height="250"></canvas>
                    </div>
                  </div>
                </div>
                <div class="card-body">
                  <h6 class="mb-0 ">Top Destination Ports</h6>
                  <!-- <p class="text-sm ">Shows the number of total alerts</p> -->
                  <!-- <hr class="dark horizontal"> -->
                  <!-- <div class="d-flex "> -->
                    <!-- <i class="material-icons text-sm my-auto me-1">schedule</i> -->
                    <!-- <p class="mb-0 text-sm">updated 4 min ago</p> -->
                  <!-- </div> -->
                </div>
            </div>
        </div>

        <div class="col-lg-4 col-md-6 mt-4 mb-4">
            <div class="card z-index-2s  ">
                <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2 bg-transparent">
                  <div class="bg-gradient-success shadow-success border-radius-lg py-3 pe-1">
                    <div class="chart">
                      <canvas id="chart-bars-6" class="chart-canvas" height="250"></canvas>
                    </div>
                  </div>
                </div>
                <div class="card-body">
                  <h6 class="mb-0 ">Top Protocols</h6>
                  <!-- <p class="text-sm ">Shows the number of total alerts</p> -->
                  <!-- <hr class="dark horizontal"> -->
                  <!-- <div class="d-flex "> -->
                    <!-- <i class="material-icons text-sm my-auto me-1">schedule</i> -->
                    <!-- <p class="mb-0 text-sm">updated 4 min ago</p> -->
                  <!-- </div> -->
                </div>
            </div>
        </div>
      
      {% include 'includes/footer.html' %}

    </div>
  </main>
  
  {% include 'includes/sidebar.html' %}
  {% include 'includes/corejs.html' %}
  <!-- <script src="/static/assets/js/charts/network_chart.js"></script> -->

  <script>
    var ctx5 = document.getElementById("chart-bars-2").getContext("2d");
    new Chart(ctx5, {
        type: "bar",
        data: {
        labels: ["192.168.1.1", "5.188.10.176", "5.188.10.144", "195.209.187.229", "178.46.96.158", "195.191.202.240", "122.226.181.166", "207.189.20.3"],
        datasets: [{
            label: "Occurrence",
            tension: 0.4,
            borderWidth: 2,
            borderRadius: 4,
            borderSkipped: false,
            backgroundColor: "rgba(255, 255, 255, .8)",
            data: [462, 320, 210, 202, 180, 163, 102, 83, 10],
            maxBarThickness: 20
        }, ],
        },
        options: {
        responsive: true,
        maintainAspectRatio: false,
        plugins: {
            legend: {
            display: false,
            }
        },
        interaction: {
            intersect: false,
            mode: 'index',
        },
        scales: {
            y: {
            grid: {
                drawBorder: false,
                display: true,
                drawOnChartArea: true,
                drawTicks: false,
                borderDash: [5, 5],
                color: 'rgba(255, 255, 255, .2)'
            },
            ticks: {
                suggestedMin: 0,
                suggestedMax: 500,
                beginAtZero: true,
                padding: 10,
                font: {
                size: 14,
                weight: 300,
                family: "Roboto",
                style: 'normal',
                lineHeight: 2
                },
                color: "#fff"
            },
            },
            x: {
            grid: {
                drawBorder: false,
                display: true,
                drawOnChartArea: true,
                drawTicks: false,
                borderDash: [5, 5],
                color: 'rgba(255, 255, 255, .2)'
            },
            ticks: {
                display: true,
                color: '#f8f9fa',
                padding: 5,
                font: {
                size: 9,
                weight: 300,
                family: "Roboto",
                style: 'normal',
                lineHeight: 1
                },
            }
            },
        },
        },
    });

    var ctx6 = document.getElementById("chart-bars-3").getContext("2d");
    new Chart(ctx6, {
        type: "bar",
        data: {
        labels: ["192.168.1.10", "111.67.195.41", "192.168.1.254", "85.93.20.86", "45.126.125.65", "85.93.20.38", "85.93.20.91", "85.93.20.92"],
        datasets: [{
            label: "Occurrence",
            tension: 0.4,
            borderWidth: 2,
            borderRadius: 4,
            borderSkipped: false,
            backgroundColor: "rgba(255, 255, 255, .8)",
            data: [250, 120, 89, 75, 64, 59, 48, 34, 27],
            maxBarThickness: 20
        }, ],
        },
        options: {
        responsive: true,
        maintainAspectRatio: false,
        plugins: {
            legend: {
            display: false,
            }
        },
        interaction: {
            intersect: false,
            mode: 'index',
        },
        scales: {
            y: {
            grid: {
                drawBorder: false,
                display: true,
                drawOnChartArea: true,
                drawTicks: false,
                borderDash: [5, 5],
                color: 'rgba(255, 255, 255, .2)'
            },
            ticks: {
                suggestedMin: 0,
                suggestedMax: 500,
                beginAtZero: true,
                padding: 10,
                font: {
                size: 14,
                weight: 300,
                family: "Roboto",
                style: 'normal',
                lineHeight: 2
                },
                color: "#fff"
            },
            },
            x: {
            grid: {
                drawBorder: false,
                display: true,
                drawOnChartArea: true,
                drawTicks: false,
                borderDash: [5, 5],
                color: 'rgba(255, 255, 255, .2)'
            },
            ticks: {
                display: true,
                color: '#f8f9fa',
                padding: 5,
                font: {
                size: 9,
                weight: 300,
                family: "Roboto",
                style: 'normal',
                lineHeight: 1
                },
            }
            },
        },
        },
    });
  
    var ctx7 = document.getElementById("chart-bars-4").getContext("2d");
    new Chart(ctx7, {
        type: "bar",
        data: {
        labels: ["3306", "2999", "16", "3212", "462", "412", "512", "335"],
        datasets: [{
            label: "Occurrence",
            tension: 0.4,
            borderWidth: 2,
            borderRadius: 4,
            borderSkipped: false,
            backgroundColor: "rgba(255, 255, 255, .8)",
            data: [462, 320, 210, 202, 180, 163, 102, 83, 10],
            maxBarThickness: 15
        }, ],
        },
        options: {
        responsive: true,
        maintainAspectRatio: false,
        plugins: {
            legend: {
            display: false,
            }
        },
        interaction: {
            intersect: false,
            mode: 'index',
        },
        scales: {
            y: {
            grid: {
                drawBorder: false,
                display: true,
                drawOnChartArea: true,
                drawTicks: false,
                borderDash: [5, 5],
                color: 'rgba(255, 255, 255, .2)'
            },
            ticks: {
                suggestedMin: 0,
                suggestedMax: 500,
                beginAtZero: true,
                padding: 10,
                font: {
                size: 14,
                weight: 300,
                family: "Roboto",
                style: 'normal',
                lineHeight: 2
                },
                color: "#fff"
            },
            },
            x: {
            grid: {
                drawBorder: false,
                display: true,
                drawOnChartArea: true,
                drawTicks: false,
                borderDash: [5, 5],
                color: 'rgba(255, 255, 255, .2)'
            },
            ticks: {
                display: true,
                color: '#f8f9fa',
                padding: 5,
                font: {
                size: 9,
                weight: 600,
                family: "Roboto",
                style: 'normal',
                lineHeight: 1
                },
            }
            },
        },
        },
    });

    var ctx8 = document.getElementById("chart-bars-5").getContext("2d");
    new Chart(ctx8, {
        type: "bar",
        data: {
        labels: ["1", "22", "80", "443", "99", "3217", "4421", "230"],
        datasets: [{
            label: "Occurrence",
            tension: 0.4,
            borderWidth: 2,
            borderRadius: 4,
            borderSkipped: false,
            backgroundColor: "rgba(255, 255, 255, .8)",
            data: [462, 320, 210, 202, 180, 163, 102, 83, 10],
            maxBarThickness: 15
        }, ],
        },
        options: {
        responsive: true,
        maintainAspectRatio: false,
        plugins: {
            legend: {
            display: false,
            }
        },
        interaction: {
            intersect: false,
            mode: 'index',
        },
        scales: {
            y: {
            grid: {
                drawBorder: false,
                display: true,
                drawOnChartArea: true,
                drawTicks: false,
                borderDash: [5, 5],
                color: 'rgba(255, 255, 255, .2)'
            },
            ticks: {
                suggestedMin: 0,
                suggestedMax: 500,
                beginAtZero: true,
                padding: 10,
                font: {
                size: 14,
                weight: 300,
                family: "Roboto",
                style: 'normal',
                lineHeight: 2
                },
                color: "#fff"
            },
            },
            x: {
            grid: {
                drawBorder: false,
                display: true,
                drawOnChartArea: true,
                drawTicks: false,
                borderDash: [5, 5],
                color: 'rgba(255, 255, 255, .2)'
            },
            ticks: {
                display: true,
                color: '#f8f9fa',
                padding: 5,
                font: {
                size: 9,
                weight: 600,
                family: "Roboto",
                style: 'normal',
                lineHeight: 1
                },
            }
            },
        },
        },
    });

    var ctx9 = document.getElementById("chart-bars-6").getContext("2d");
    new Chart(ctx9, {
        type: "bar",
        data: {
        labels: ["TCP", "UDP", "Ethernet", "ICMP", "DNS", "TLS"],
        datasets: [{
            label: "Occurrence",
            tension: 0.4,
            borderWidth: 2,
            borderRadius: 4,
            borderSkipped: false,
            backgroundColor: "rgba(255, 255, 255, .8)",
            data: [462, 320, 210, 202, 180, 163, 102],
            maxBarThickness: 15
        }, ],
        },
        options: {
        responsive: true,
        maintainAspectRatio: false,
        plugins: {
            legend: {
            display: false,
            }
        },
        interaction: {
            intersect: false,
            mode: 'index',
        },
        scales: {
            y: {
            grid: {
                drawBorder: false,
                display: true,
                drawOnChartArea: true,
                drawTicks: false,
                borderDash: [5, 5],
                color: 'rgba(255, 255, 255, .2)'
            },
            ticks: {
                suggestedMin: 0,
                suggestedMax: 500,
                beginAtZero: true,
                padding: 10,
                font: {
                size: 14,
                weight: 300,
                family: "Roboto",
                style: 'normal',
                lineHeight: 2
                },
                color: "#fff"
            },
            },
            x: {
            grid: {
                drawBorder: false,
                display: true,
                drawOnChartArea: true,
                drawTicks: false,
                borderDash: [5, 5],
                color: 'rgba(255, 255, 255, .2)'
            },
            ticks: {
                display: true,
                color: '#f8f9fa',
                padding: 5,
                font: {
                size: 9,
                weight: 600,
                family: "Roboto",
                style: 'normal',
                lineHeight: 1
                },
            }
            },
        },
        },
    });
  </script>

  <script>
    var win = navigator.platform.indexOf('Win') > -1;
    if (win && document.querySelector('#sidenav-scrollbar')) {
      var options = {
        damping: '0.5'
      }
      Scrollbar.init(document.querySelector('#sidenav-scrollbar'), options);
    }
  </script>
  <!-- Github buttons -->
  <script async defer src="https://buttons.github.io/buttons.js"></script>
  <!-- Control Center for Material Dashboard: parallax effects, scripts for the example pages etc -->
  <script src="/static/assets/js/material-dashboard.min.js?v=3.0.2"></script>
</body>

</html>